*.diff.txt
*.names.txt
*.o
*.out.*
*.template.cpp
*.template.hpp
*Ac.cpp
*Ac.hpp
*Ac.h
*GTestBase.cpp
*GTestBase.hpp
*TesterBase.cpp
*TesterBase.hpp
default-tests.sh
default-update-ref.sh

!*/include/*
!*.ref.h
fpp-*.json
